// Colors
$colorContentHigh: var(--color-content-high);
$colorContentMiddle: var(--color-content-middle);
$colorContentLow: var(--color-content-low);

$colorLevelHigher: var(--color-level-higher);
$colorLevelHig: var(--color-level-high);
$colorLevelMiddle: var(--color-level-middle);
$colorLevelLow: var(--color-level-low);
$colorLevelLower: var(--color-level-lower);
$colorLevelBottom: var(--color-level-bottom);
$colorLevelMask: var(--color-level-mask);

$colorPrimaryHigh: var(--color-primary-light);
$colorPrimaryMiddle: var(--color-primary-medium);
$colorPrimaryLow: var(--color-primary-dark);
$colorPrimaryMask: var(--color-primary-mask);

$colorErrorHigh: var(--color-error-light);
$colorErrorMiddle: var(--color-error-medium);
$colorErrorLow: var(--color-error-dark);
$colorErrorMask: var(--color-error-mask);

$colorInfoHigh: var(--color-info-light);
$colorInfoMiddle: var(--color-info-medium);
$colorInfoLow: var(--color-info-dark);
$colorInfoMask: var(--color-info-mask);

$colorSuccessHigh: var(--color-success-light);
$colorSuccessMiddle: var(--color-success-medium);
$colorSuccessLow: var(--color-success-dark);
$colorSuccessMask: var(--color-success-mask);

$colorAlertHigh: var(--color-alert-light);
$colorAlertMiddle: var(--color-alert-medium);
$colorAlertLow: var(--color-alert-dark);
$colorAlertMask: var(--color-alert-mask);
